# Binaries and local builds
bin/
/dist/
*.exe
*.dll
*.so
*.dylib

# Node dependencies
web/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local data & environment
data/
data_test/
*.db
*.db-wal
*.db-shm
.env

# OS / Editor artifacts
.DS_Store
*.swp
*.swo
*~
